.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal {
    background: white;
    padding: 2em;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 20px var(--primary-shadow);
    padding-bottom: 5%;
  }
  
  .modal h2 {
    color: var(--primary-color);
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .modal input,
  .modal textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .modal-buttons .cancel {
    background: #ccc;
  }
  
  .error {
    color: var(--error-color);
    font-size: 0.85rem;
  }
  
  .modalImg {
    width: 50%;
    margin-bottom: 5%;
  }

  .modalTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 600px) {    
     .modalImg {
        width: 20%;
        margin-bottom: 0;
      }

      .modal h2 {
        font-size: 28px;
      }

  }